<h3>Sirvase</h3>
<div class="hash">
{ 
  <% @products.each_with_index do |product, index| %>  
    
    <%= form_for @order do |f| %>
      <%= product.name %> <%=product.emoji %> : <%= product.price.to_f/10 %>0,
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.submit "✔️" %>
    <% end %>

  <% end  %>
}
</div>

<h3>Mi pedido</h3>

<div>
  { 
    <div class="hash items">
      <% @orders.each do |order| %>      
        <div> <%= order.product.name %> <%= order.product.emoji %> : <%= order.quantity %>, </div>            
      <% end  %>
    </div>
  }
</div>

<div class = "hrz-btn">
  <%= button_to "Completar pedido", orders_path, method: :get , class: 'btn red' %>
  <%= button_to "Limpiar pedido", order_path(1), method: :delete , class: 'btn' %>
</div>
