<pre>
<h2>Sirvase</h2>

{ 
  <% @products.each_with_index do |product, index| %>  
    
    <%= form_for @order do |f| %>
      <%= product.name %> <%=product.emoji %> : <%= product.price.to_f/10 %>0,
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.submit "✔️" %>
    <% end %>    
  <% end  %>
}

<h2>Mi pedido</h2>
{ 
  <% @orders.each do |order| %>
  <%= order.product.name %> <%= order.product.emoji %> : <%= order.quantity %>,
  <% end  %>
}

<%= button_to "Cerrar pedido", orders_path, method: :get %>

</pre>