<!DOCTYPE html>
<html>
  <head>
    <title>CuchiOrders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    
  </head>




  <body>



    <div>
      <% if current_user %>
        <pre>
  Hi <strong><%= current_user.email %></strong>! <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
  
        </pre>
      <% else %>
        <%= link_to 'Iniciar sesión', new_user_session_path %>
      <% end %>
    </div>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
